<!-- importação da biblioteca de ícones (phosphor icons) -->
<link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
<link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
<script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@latest/bundled/lenis.min.js"></script>

<link rel="stylesheet" href="/components/sidebar/sidebar.css">


<div class="sidebar-overlay" id="sidebarOverlay"></div>
<aside class="sidebar" id="sidebar">
    <nav class="sidebar-nav">

        <div class="nav-section">
            <ul>
                <li><a href="/index.html"></i>Home</a></li>
                <li><a href="/pages/about.html"></i>Sobre</a></li>
                <li><a href="/pages/products.html"></i>Produtos</a></li>
                <li><a href="/pages/contact.html"></i>Contato</a></li>
            </ul>
        </div>