<link rel="stylesheet" href="components/sidebar/sidebar.css">

<div class="sidebar-overlay" id="sidebarOverlay"></div>
<aside class="sidebar" id="sidebar">
    <nav class="sidebar-nav">

        <div class="nav-section">
            <h4>Navegação</h4>
            <ul>
                <li><a href="/"><i class="ph ph-house"></i>Home</a></li>
                <li><a href="/pages/about.html"><i class="ph ph-package"></i>Sobre</a></li>
                <li><a href="/pages/products.html"><i class="ph ph-shopping-cart"></i>Produtos</a></li>
                <li><a href="/pages/contact.html"><i class="ph ph-shopping-cart"></i>Contato</a></li>
            </ul>
        </div>
