@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* criando variáveis */
:root {
    color: var(--text-color-gray);
    --black: black;
    --white: white;
    --rose: #CC9595;
    --gold: #F2EBBC;
    --border-white: white;
}

/* resetando os estilos padrões do navegador */
* {
    box-sizing: border-box;
    /* desabilitar borda padrão nos elementos */
    scroll-padding-top: 5.6rem;
    /* ocupar espaço no topo (header) */

    /* espaçamento externo e interno zerados */
    padding: 0;

    /* evitar serrilhamento da fonte */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.sidebar-nav {
    padding: 1.5rem 0;
    overflow-y: scroll !important;
    overscroll-behavior: contain;
    flex: 1;
    touch-action: pan-y;
}


.nav-section a {
    font-size: 31px;
    display: flex;
    align-items: center;
    color: #333;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-left: 3px solid transparent;
    transition: all 0.3s ease;
}


@media screen and (max-width: 480px) {
    .sidebar {
        width: 280px;
        left: -280px;
    }
}

