@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* criando variáveis */
:root {
  --black: black;
  --white: white;
  --rose: #CC9595;
  --gold: #F2EBBC;

  --border-white: white;
}

/* resetando os estilos padrões do navegador */
* {
  box-sizing: border-box; /* desabilitar borda padrão nos elementos */
  scroll-padding-top: 5.6rem; /* ocupar espaço no topo (header) */

  /* espaçamento externo e interno zerados */
  margin: 0;
  padding: 0;

  /* evitar serrilhamento da fonte */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* utilizando variáveis para o fundo e a fonte */
  background-color: var(--white);
  color: var(--white);

  scroll-behavior: smooth !important; /* rolagem suave */

  /* definindo fonte */
  font-family: "Noto Sans", sans-serif;
} 

header {
  /* tornando os filhos de header flexíveis (um ao lado do outro) */
  display: flex;

  justify-content: space-between;
  align-items: center;

  /* altura do header */
  height: 5.6rem;

  /* espaçamento interno do header */
  padding: 0 2.25rem;

  /* deixar header fixo no topo */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  /* prioridade sobre qualquer outro elemento */
  z-index: 999;

  border-bottom: 1px var(--border-white) solid;
  background: var(--rose)
}

header > .branding {
  display: flex;

  align-items: center;
  gap: 1rem; /* espaçamento interno entre logo e título */

  /* altura: tamanho da logotipo */
  img {
    height: 3.25rem;
  }

  h1 {
    cursor: default;
    font-weight: 100;
  }
}

header > nav {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 3rem; /* espaçamento entre links e button */
  padding: 0px 1rem; /* espaço interno na direita e esquerda para todos os elementos */

  ul {
    display: flex;

    gap: 3rem;
    padding: 0.52rem;

    /* remover bolinha dos links */
    list-style: none;

    /* estilizando título links */
    li > a {
      box-sizing: border-box;
      padding: 2px 0;
      font-weight: 200;
      text-decoration: none;

      transition: all 0.8 ease;
      color: var(--white);
    }

    /* estilizando quando mouse estive em cima */
    li > a:hover {
      /* text-decoration: underline; */
      color: rgb(187, 187, 187);
      border-top: 1px solid rgb(187, 187, 187);
      border-bottom: 1px solid rgb(187, 187, 187);
      display: inline-block;
    }
  }
  

  button {
    padding: 1rem;

    font-size: 1.125rem;
    border-radius: 8px;

    transition: 1s;

    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--border-white);
  }

  button:hover {
    cursor: pointer; /* mudar cursor do mouse quando estiver em cima */

    background-color: white;
    color: black;
  }
}


#hero-section {
  display: flex;

  align-items: center;

  height: calc(100vh - 5.6rem);
  padding: 0 8rem; /* margem de conteúdo: 128px */

  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(17, 17, 17, 0.3), rgb(37, 37, 37)),
    url("assets/background.png");
}



main {
  display: flex;
  flex-direction: column;

  /* limitando a largura do conteúdo principal */
  width: 916px;

  gap: 4rem;
  padding: 1rem;
}

main > .hero-content {
  display: flex;
  flex-direction: column;

  gap: 1.4rem;

  /* sombra para os textos */
  text-shadow: 0.2em 0.2em 0.4em rgba(43, 42, 42, 0.7);

  h1 {
    font-weight: 100;
    font-size: 3.25rem;

    letter-spacing: 0.2em;
  }

  p {
    font-weight: 700;

    width: 24rem;

    /* estilo ao nome do autor da frase */
    span {
      font-weight: 100;
    }
  }
}

.hero-content > .quote {
  display: flex;

  align-items: center;

  gap: 1.2rem;
}



  


main > a {
  text-align: center;

  width: 14rem;
  padding: 0.52rem 0.28rem;

  text-decoration: none;

  transition: 1s;

  z-index: 1;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  background-color: var(--black);
}

main > a:hover {
  cursor: pointer;

  color: black;
  background-color: white;
}


.photo {
  width: 400px;
  margin-bottom: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.box_text {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
}

.button_about {
  width: 14rem;
  padding: 0.52rem 0.28rem;

  text-decoration: none;

  transition: 1s;

  z-index: 1;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  background-color: var(--rose);
  font-size: 22px;
}
.title {
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 0.2em;


}

.title p {
  justify-content: center;
  align-items: center;
  display: flex;
}


.button_special {
  align-items: center;
  justify-content: center;
  width: 42rem;
  height: 7rem;
  padding: 0.52rem 0.28rem;
  background: transparent;

  text-decoration: none;

  transition: 1s;

  z-index: 1;
  color: white;
  border: 1px solid var(--rose);
  border-radius: 4rem;
  color: var(--rose);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.4);
  
  font-size: 30px;

  
  

}


.retangulo {
  height: 2rem;
  background-color: var(--gold);
}

#about {
 display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5.6rem);
  border: solid 10px var(--gold);
}

    #about {
  position: relative;
  background: url("./assets/fundo2.png") center/cover no-repeat;
  overflow: hidden;
}

#about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.829); /* controla a opacidade do fundo */
  z-index: 1;
}

#about * {
  position: relative;
  z-index: 2; /* garante que o texto fique acima do fundo */
}




#footer {
  background-color: var(--rose);
  display: flex;

  justify-content: center;
  align-items: center;

  height: 5.6rem;
  border-top: 1px solid var(--border-white);

  p {
    font-size: 0.875rem;
    font-weight: 200;
    color: var(--white);
  }
}





