


.contato-texto h1 {
  font-size: 2.5rem;
  color: var(--rose);
  margin-bottom: 1rem;
}

.contato-texto p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6rem;
  max-width: 600px;
  margin: 0 auto;
}

.contato-texto {
  padding: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  justify-content: center;
}


.contato-canais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  
  
}

.canal {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  margin: 1rem;
}

.canal:hover {
  transform: translateY(-4px);
}

.canal img {
  width: 50px;
  height: 50px;
}

.canal h3 {
  color: var(--rose);
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.canal p {
  color: #444;
  margin-bottom: 0.5rem;
}

.btn-contato {
  background-color: var(--rose);
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 0.8rem;
  text-decoration: none;
  font-weight: 500;
}

.btn-contato:hover {
  background-color: #b57b7b;
}

.space-p {
  padding: 10px;
}

